:root{
    font-size: 16px;
}

body, html{
    height:100%;

}

body{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 5fr 1fr;
    row-gap: 40px;
    background-image: url("./img/bright-colorful-neon-background.jpg");
    background-size:cover;
    

}



.headerContainer{
    display: flex;
    align-items: center;
    gap:10px;
    width: 100%;
    justify-content: center;
    
}

.playerButtonContainer{
    display: flex;
    justify-content: center;
    gap: 200px;
}

.playerButton{
    width:100px;
    height: 50px;
}

.playerButton:hover{
    cursor: pointer;
}


.startContainer{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}

.startButton{
    width: 200px;
    height: 80px;
    margin-left: 120px;
    margin-right: 40px;
    
}

.startButton:hover{
    cursor: pointer;
}


.scoreContainer{
   
    display:grid;
    grid-template-columns: 50px 2fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
}


.score{
    grid-row: 0/3;
    font-size: 1.4rem;
    align-self: center;
    color: white;
    text-shadow:  1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}

#p2Score{
    grid-column: 2/3;
}

.playerScore{
    background-color: rgb(43, 40, 40);
    border-radius: 5px;
    border: ridge 4px;
    padding: 10px;
    font-size: 1.4rem;
  
    
}

.gameBoardContainer{
    display: flex;
    justify-content: center;
    
}

.gameBoard{
    display: grid;
    grid-template-rows: repeat(3, 190px);
    grid-template-columns: repeat(3, 230px) ;
    
    min-width: 400px;
    background-color: rgb(20, 20, 20);
    border: solid white 1px;
}



.gameBoard div{
    border: solid 1px white;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    
    
}

.mark img{
    width: 260px;
    height: 180px;
}

.mark:hover{
    cursor: pointer;
    background-color: rgb(99, 95, 95);
}


.markSelector>img{
    width: 50px;
    height: 60px;
}


.formContainer{
    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
}

.playerNameInputContainer{
    grid-column:1/4;
    grid-row:1;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-self: center;
    align-self: center;
}

.colorInputContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    grid-column:1/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.colorInput{
    width: 80%;
}

.markSelector{
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    

}

.markSelector img{
    height:80px;
    width: 80px;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    
}


.submitButton{
    width: 120px;
    height: 80px;
    justify-self: center;
    align-self: center;
    grid-column: 1/4;
    grid-row: 4/5;
    border-radius: 30px;
}


.markSelector img:hover{
    cursor: pointer;
    
    width: 100px;
    height: 100px;
}

.dialog{
    border-radius: 20px;
    border:ridge 6px;
}