@font-face {
    font-family: 'joystixmonospace';
    src: url('./fonts/joystix_monospace-webfont.woff2') format('woff2'),
         url('./fonts/joystix_monospace-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'upheaval_proregular';
    src: url('./fonts/upheavalpro-webfont.woff2') format('woff2'),
         url('./fonts/upheavalpro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





:root{
    font-size: 16px;
    
}

body, html{
    height:100%
    
}

body{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 5fr auto;
    row-gap: 40px;
    background-image: url("./img/bright-colorful-neon-background.jpg");
    background-size:cover;
    

}



.headerContainer{
    display: flex;
    align-items: center;
    gap:10px;
    width: 100%;
    justify-content: center;
    
}

.title{

    font-family: 'upheaval_proregular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    color: white;
    text-shadow:  2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black;

}

.playerButtonContainer{
    display: flex;
    justify-content: center;
    gap: 200px;
    }

.playerButton{
    width:100px;
    height: 50px;
    border-radius: 10px;
    border: ridge 3px;
    color: white;
    background-color: rgb(20, 20, 20);
    font-size: 1.1rem;
    font-family: 'upheaval_proregular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.playerButton:hover{
    cursor: pointer;
    width: 110px;
    height: 60px;
    background-color: rgb(51, 51, 51);
}



.startContainer{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}

.startButton{
    width: 200px;
    height: 80px;
    margin-left: 120px;
    margin-right: 40px;
    border-radius: 10px;
    border: double 10px gold;
    background-color: rgb(43, 40, 40);
    color: gold;
    font-size: 1.9rem;
    font-family: 'upheaval_proregular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}

.startButton:hover{
    cursor: pointer;
    background-color: rgb(56, 54, 54);
    width: 202px;
    height: 85px;
    font-size: 2rem;
}

.startButton:active{
    background-color: rgb(0, 204, 255);
    border-color: white;
    color: white
}


.scoreContainer{
   
    display:grid;
    grid-template-columns: 50px 2fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
}


.score{
    grid-row: 0/3;
    font-size: 1.4rem;
    align-self: center;
    color: white;
    font-family: 'upheaval_proregular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow:  1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
    
}

#p2Score{
    grid-column: 2/3;
}

.playerScore{
    background-color: rgb(43, 40, 40);
    border-radius: 5px;
    border: ridge 4px;
    padding: 10px;
    font-size: 1.4rem;
    font-family: 'upheaval_proregular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    
}

.gameBoardContainer{
    display: flex;
    
    justify-content: center;
    
}

.gameBoard{
    display: grid;
    grid-template-rows: repeat(3, 190px);
    grid-template-columns: repeat(3, 230px) ;
    
    min-width: 400px;
    background-color: rgb(20, 20, 20);
    border: solid white 1px;
}



.gameBoard div{
    border: solid 1px white;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    
    
}

.gameBoard div img{
    width: auto;
}

.mark img{
    width: 260px;
    height: 180px;
}

.mark:hover{
    cursor: pointer;
    background-color: rgb(99, 95, 95);
}


.markSelector>img{
    width: 50px;
    height: 60px;
}


.formContainer{
    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
}

.playerNameInputContainer{
    grid-column:1/4;
    grid-row:1;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-self: center;
    align-self: center;
}

.nameInput{
    background-color: rgb(99, 95, 95);
    color: whitesmoke;
    border-radius: 5px;
}

.colorInputContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    grid-column:1/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.colorInput{
    width: 80%;
    
}

.label{
    color: whitesmoke;
}

.markSelector{
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    

}

.markSelector img{
    height:80px;
    width: 80px;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    background-color: rgb(192, 184, 184);
    
}


.submitButton{
    width: 150px;
    height: 80px;
    justify-self: center;
    align-self: center;
    grid-column: 1/4;
    grid-row: 4/5;
    border-radius: 20px;
    border: ridge 3px;
    background-color: rgb(83, 80, 80);
    color: whitesmoke;
    font-size: 1.4rem;
    font-family: 'upheaval_proregular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submitButton:hover{
    background-color: rgb(129, 126, 126); 
    cursor: pointer;
    font-size: 1.5rem;
    width: 160px;
    height: 90px;
}


.markSelector img:hover{
    cursor: pointer;
    
    width: 100px;
    height: 100px;
}

.dialog{
    
    font-family: 'upheaval_proregular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    border-radius: 20px;
    border:ridge 6px;
    background-color: rgb(20, 20, 20);
    border-color: gold;
    color:white;
}

.resultContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer{
    background-color: rgb(43, 40, 40);
    text-align: center;
    font-family: 'upheaval_proregular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    color: whitesmoke;    
    align-self:end;

}